# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
eggs/

# Virtual Environment
venv/
env/
.env

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node (agar frontend build bo'lsa)
node_modules/
